html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #2b2b2b;
    font-family: "Roboto", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

/* header */

.header {
    background-image: url(../images/header-bg.jpg);
    background-image: image-set('../images/header-bg.webp' type ('image/webp'),
            '../images/header-bg.jpg' type ('image/jpeg'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
}

.container {
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    padding: 64px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 300;
}

.menu {
    justify-self: start;
}

.menu__btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
    position: relative;
    z-index: 10;
}

.menu__btn::after,
.menu__btn::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f5f5f5;
}

.menu__btn::after {
    top: 0;
}

.menu__btn::before {
    bottom: 0;
}

.menu__btn span {
    height: 2px;
    background-color: #f5f5f5;
    width: 100%;
}

.menu__list {
    display: flex;
    gap: 40px;
    text-transform: uppercase;

}

.menu__item {}

.menu__link {}

.logo {
    justify-self: center;
}

.header__phone {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__title {
    max-width: 835px;
    padding-top: 100px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 85px;
    line-height: 1.17;
    font-weight: 400;
}

.header__text {
    max-width: 758px;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 30px;
}

.header__btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    color: #2b2b2b;
    padding: 20px 49px;
    background-color: #f5f5f5;
}

/* header */




/* services */

.services {
    background-color: #171717;
    color: #f5f5f5;
}

.section-box {
    padding: 150px 0;
}

.services__title {}

.section__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 55px;
}

.services__list {
    border-top: 1px solid #f5f5f5;
}

.services__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid #f5f5f5;
    padding-right: 44px;
}

.services__item-title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
}

.services__item-text {
    max-width: 800px;
    width: 100%;
}

/* services */




/* projects */

.projects {}

.section-box {}

.container {}

.projects__title {}

.section__title {}

.projects__slider {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.projects__item {
    padding: 20px;
    border: 1px solid #d9d9d9;
}

.projects__item img{
   max-width: 100%;
   margin-bottom: 40px;
}

.projects__item-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.16;
}

.projects__item-desct {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.16;
}

.projects__item-text {
    margin-bottom: 30px;
}

.projects__item-link {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #171717;
    padding: 20px 100px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

.swiper-button-prev {}

.swiper-button-next {}

/* projects */





/* adaptive */

@media (max-width: 1300px) {
    .menu__btn {
        display: flex;
    }

    .menu__list {
        position: absolute;
        inset: 0;
        /* для top, bottom, right, left :0*/
        background-color: #171717;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }

    .menu__list.active {
        transform: translateY(0);
    }

    .services__item {
        display: block;
        padding-right: 0;
    }
}

@media (max-width: 740px) {
    .header__top {
        padding: 40px 0;
    }

    .header__title {
        padding-top: 75px;
        font-size: 64px;
    }

    .section-box {
        padding: 50px 0;
    }

    .section__title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .services__item {
        padding: 10px 0;
    }

    .services__item-title {
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .header__phone span {
        display: none;
    }

    .header__phone img {
        width: 24px;
    }

    .header__title {
        padding-top: 50px;
        font-size: 44px;
    }

    .header__text {
        font-size: 22px;
    }

    .header__btn {
        font-size: 16px;
        padding: 16px 49px;
    }
}

/* adaptive */